<html xmlns="http://www.w3.org/1999/xhtml" ng-app="graphite">

<head>
    <meta charset="UTF-8">
    <!-- <title>Server status </title> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <!-- <link href="client/bower_components/ngCropper/dist/ngCropper.all.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/route.js"></script>
    <script src="js/factory.js"></script>
    <script src="js/controller.js"></script>
    <!-- <script src="client/bower_components/ngCropper/dist/ngCropper.all.js"></script> -->
</head>

<body ng-controller='rootController'>
    <div class="tab">
        <button class="tablinks" onclick="location.href='#/upload'">Upload</button>
        <button class="tablinks" onclick="location.href='#/allimages'">All</button>
        <button class="tablinks" onclick="location.href='#/people'">People</button>
    </div>
    <div ng-view></div>
</body>

</html>
