<div class="container">
    <ul id="imageslist">
        <li ng-repeat="item in images">
            <a ng-click="getImageByFaceId(item.faceid)" href="">
                <img src="{{item.url}}" alt="Mountain View" style="width:128px;height:196px;image-orientation: from-image;">
                <p>{{item.contactid}}</p>
            </a>
            <button type="button" ng-click="showtxt = !showtxt" >tag</button>
            <input type="text"  ng-show="showtxt" ng-model="contactId" ng-blur="tag(item.faceid,contactId)">
      
        </li>
    </ul>
</div>
<div>
    <ul id="imageslist">
        <li ng-repeat="item in imagesByFaceId">
            <img src="{{item.url}}" alt="" style="width:128px;height:150px;image-orientation: from-image;">
        </li>
    </ul>
</div>
<div ng-show="gif"> <img src="/images/load.gif"></div>